.headTitle{
  margin-bottom: 30px;
}

.wrap-login100{
  margin-top: 1px;
  padding-top: 1px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 cornflowerblue;

}

.divCenter{
  text-align: center;

  width: 100%;
  margin-top: 30px;
  margin-left: 40%;
  margin-bottom: 30px;
  margin-right: 50px;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 cornflowerblue;

}

.headTitle{
  margin-top: 30px;
}

.inputSpace{
  margin-bottom: 20px;
}

.buttonLogin{
  width: 50%;
  margin-bottom: 30px;
}

.container-login100{
  margin-top: 1px;
  padding-top: 1px;
}

.fill-remain-space{
  flex: 1 1 auto;
}

.normal-form{
  margin: 1px;
}


.controles-container{
  width: 100%;
  padding: 5%;
}

.controles-container > * {
  width: 100%;
}
