
<div class="divCenter">
  <div class="headTitle">
    <span>_</span>
    <h3>Sign in</h3>
  </div>
  <div style="color: #721c24">{{errorMessageLogin}}</div>
  <form [formGroup]="userService.form" class="normal-form">
    <mat-grid-list cols="1" rowHeight="280px">
      <mat-grid-tile>

        <div class="controles-container">

          <mat-form-field class="inputSpace">
            <input  formControlName="mail" matInput placeholder="Email*"/>
            <mat-error>mail is required</mat-error>
          </mat-form-field>

          <mat-form-field class="inputSpace">
            <input  formControlName="password" type="password" matInput placeholder="Password*"/>
            <mat-error>password is required</mat-error>
          </mat-form-field>


        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <button class="buttonLogin" mat-raised-button color="primary" type="button" [disabled]="userService.form.invalid" (click)="onSubmit()">Sign in</button>
  </form>


</div>
