<div class="divCenter">
  <span>----</span>
  <span>----</span>
  <h3>Registration of Customer</h3>

  <form [formGroup]="service.formUserAccount" class="normal-form">
    <mat-grid-list cols="1" rowHeight="300px">
      <mat-grid-tile>
        <div class="controles-container">
          <input type="hidden"  formControlName="userAccountId"/>

          <mat-form-field class="inputSpace">
            <input  formControlName="firstName" matInput placeholder="First Name*"/>
            <mat-error>Name is required</mat-error>
          </mat-form-field>

          <mat-form-field class="inputSpace">
            <input  formControlName="lastName" matInput placeholder="Last Name"/>
          </mat-form-field>





        </div>
        <div class="controles-container">

          <mat-form-field class="inputSpace">
            <input  formControlName="email" matInput placeholder="email"/>
          </mat-form-field>

          <mat-form-field class="inputSpace">
            <input  formControlName="password" type="password" matInput placeholder="PassWord*"/>
            <mat-error>required and minlength is 8</mat-error>
          </mat-form-field>

        </div>

      <!--  <mat-form-field>
          <mat-select formControlName="roleUser" placeholder="RoleUser">
            <mat-option value="-1">None</mat-option>

            <ng-container *ngFor="let type of listAccountType">
              <mat-option [value]="type">{{type}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>-->

        <div class="controles-container">


         <input    type="file"  (change)="onFileChange($event)"  placeholder=" Profile Pic*"/>

        </div>



      </mat-grid-tile>

    </mat-grid-list>

    <div class="button-row">
      <button class="buttonLogin" mat-raised-button color="primary" type="button" [disabled]="service.formUserAccount.invalid" (click)="onSubmit()">Save</button>
      <button class="buttonLogin"  mat-raised-button color="warn" (click)="onClear()" >Clear</button>
    </div>

  </form>
</div>


