<app-bartitle></app-bartitle>
<!-- Recently Viewed -->
<div class="viewed_slider_container">

  <!-- Recently Viewed Slider -->


            <!-- Recently Viewed Item -->
            <div class="items">
              <div class="item" *ngFor="let product of listProducts">
                <div class="owl-item">

                  <div class="viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="viewed_image">
                      <a (click)="viewProduct(product.artworkId,urlImage+product.image1,urlImage+product.image2,urlImage+product.image3,product.name,product.category.name,product.description,product.newPrice)" ><img src="{{urlImage+product.image1}}" alt=""></a></div>
                      <div class="viewed_content text-center">
                        <div class="viewed_price">{{product.newPrice | currency}}<span>{{product.amount | currency}}</span></div>
                        <div class="viewed_name">
                          <a (click)="viewProduct(product.artworkId,urlImage+product.image1,urlImage+product.image2,urlImage+product.image3,product.name,product.category.name,product.description,product.newPrice)">
                          {{product.name}}</a></div>
                          <span class="view_category">{{product.category.name}}</span>
                      </div>
                      <ul class="item_marks">
                        <li class="item_mark item_discount">-25%</li>
                        <li class="item_mark item_new">new</li>
                      </ul>
                  </div>
                </div>

              </div>
            </div>

</div>




